<ion-view title="Ship">
	<div id="task-view" class="modal slide-in-up">

	    <header class="bar bar-header bar-secondary">
	    	<!--TODO: Change title -->
	        <h1 class="title">Ship a gift</h1>
	        <button class="button button-clear button-primary" ng-click="closeShippingModal()">X</button>
	    </header>
	    <ion-content scroll="false" id="happy-birthday" class="padding has-header">
	    	<!-- Content goes here-->
			<div class="birthday-content">
				<div class="cake-img"></div>
				<div class="name">
					<h2>{{activeContact.fname}} {{activeContact.lname}}</h2>
					<h3>{{activeContact.month}}/{{activeContact.day}}</h3>
				</div>
				<div class="send-btns">
					<button ng-click="openShippingInfo()">Send a gift now!</button>
					<p>or</p>
					<button ng-click="sendEmailModal()">Send a email!</button>
				</div>
			</div>
	    	<!-- <h2>Step 1: Get shipping estimate</h2>
	        <form name="theForm" id="theForm" novalidate method="post">
			     Gift length<span class="red">*</span>
			     <input type="number" id="length" name="length" required ng-model="shipment.l" placeholder="length"/> Gift width <input type="number" id="width" name="width" required ng-model="shipment.w" placeholder="width"/> Gift height <input type="number" id="height" name="height" required ng-model="shipment.h" placeholder="height"/>
			   
			     Gift weight:
			     <input type="number" id="weight" name="weight" required ng-model="shipment.weight" placeholder="weight" class="item"/>
				 Gift Origin:
				 <input type="number" id="origin-zip" name="origin" required ng-model="shipment.origin" placeholder="zip code" class="item"/> 
			     Gift destination:<span class="red">*</span>
			     <input type="number" id="origin-destination" name="destination" required ng-model="shipment.destination" placeholder="zip code" class="item"/> 
			      
			     Gift value:<span class="red">*</span>
			     <input type="number" id="value" name="value" required min="0" max="31" ng-model="shipment.value" placeholder="value" class="item"/>
			     <button type="submit" value="SUBMIT" id="submit" ng-click="getShipmentData(shipment)">Get estimation</button>
			          <input type="reset" value="CLEAR" id="reset"/>
			</form> -->
	    </ion-content>
	</div>
</ion-view>