<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title></title>

    <link href="css/ionic.app.css" rel="stylesheet">
    
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!--jQuery-->
    <script src="js/jquery-1.11.2.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script type="text/javascript" src="../js/birthday.js" ></script>
    <style>
 
    .restdays{
      background-color: yellow;
    }
    li{
      font-size: 80%
    }
      </style>
  </head> 
  <body ng-app="main">

<div class="bar bar-header bar-positive">
  <button class="button button-icon icon ion-navicon"></button>
  <h1 class="title">GoGift</h1>
</div>
    <ion-pane ng-controller="contactsCtrl">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Your Contacts</h1>
        <button class="button button-clear" ng-click="openFriendModal()">+</button>
      </ion-header-bar>
      <ion-content>

      <button class="button button-clear" ng-click="openFriendModal()">  + Click to add your friend's birthday.</button>
        <div>
          <div ng-if="contacts.length === 0">You have no friends' birthdays stored! Add your friends using the menu on the top right.</div>
          <div ng-if="contacts.length > 0">
                    <ul ng-repeat="contact in contacts | orderBy:birthdaySort">
                        <li class="item" ng-click="openShippingModal(contact)">{{contact.fname}} {{contact.lname}}'s birthday is on {{contact.month}}/{{contact.day}} ( in<i class="restdays"> {{birthdaySort(contact)}} </i> days )</li>
                    </ul>

          </div>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
